:root {
  --sidebar_width: 240px;
  --sidebar_fontsize: 14px;
  --sidebar_color: red;
  --sidebar_bgcolor: #4abf8a;
  
  --sidebar-icon_width: 64px;
  
  --sidebar-item_color: blue;
  --sidebar-item-active_color: rgb(90, 90, 233);
  --sidebar-item_bgcolor: green;
  --sidebar-item-active_bgcolor: rgb(66, 255, 66);
  --sidebar-item-hover_bgcolor: rgb(66, 255, 66);
  }